<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <main class="outer-container">
      <%= image_tag("disco-ball.gif") %>
      <h1 class="party-font">Groovytime</h1>
      <%= image_tag("dancefloor.gif") %>
      </main>
    </div>
  </div>
</div>
