<h2>Hey Foxy! </h2>

<p>
You're invited to an inclusive evening at Studio 54 for my FAB 40
birthday party. Ready to GET DOWN? Click the link to RSVP!!
</p>

<%= link_to(@url, @url) %>


<div>
  Hope to see you there <%= @guest.name %> !
</div>


love,
Pasha
