<p>Hey Foxy! </p>

<p>
You're invited to an EXCLUSIVE evening to celebrate my Birthday…Studio 54 Style! Yes, the theme is DISCO; So pull out your wide bottom dress pants, sequins, gold and glitter attire and come witness a UNICORN TURN 40. Only happens once..Don’t miss it!
</p>

Ready to GET DOWN? Click the link to RSVP!!
<%= link_to(@url, @url) %>


<p>
  Hope to see you there <%= @guest.name %> !
</p>

<p>love,</p>
<p>Pasha</p>
